<!DOCTYPE html>

<head>
	<title>Depression Detection</title>
	<link rel="stylesheet" href="index.css" />
</head>

<body>
	<main>
		<div class="container">
			<div class="heading">Depression Detection</div>
			<form action="" method="post" class="form-container">
				<!-- {% csrf_token %} -->

				<label for="PFQ090">Require special healthcare equipment </label>
				<input id="PFQ090" type="number" name="PFQ090">
				<br>

				<label for="INQ060">Income from other disability pension</label>
				<input id="INQ060" type="number" name="INQ060"><br>

				<label for="DBQ197">Past 30 day milk product consumption</label>
				<input id="DBQ197" type="number" name="DBQ197"><br>

				<label for="CBD071">Money spent at supermarket/grocery store</label>
				<input id="CBD071" type="number" name="CBD071"><br>

				<label for="WHQ225"> Times lost 10 lbs or more to lose weight</label>
				<input id="WHQ225" type="number" name="WHQ225"><br>

				<label for="CBQ596">Heard of My Plate</label>
				<input id="CBQ596" type="number" name="CBQ596"><br>

				<label for="MCQ300C">Close relative had diabetes?</label>
				<input id="MCQ300C" type="number" name="MCQ300C"><br>

				<label for="MCQ160F">Ever told you had a stroke</label>
				<input id="MCQ160F" type="number" name="MCQ160F"><br>

				<label for="INQ150">Income from other sources</label>
				<input id="INQ150" type="number" name="INQ150"><br>

				<label for="DMDMARTL">Marital status</label>
				<input id="DMDMARTL" type="number" name="DMDMARTL"><br>

				<label for="SDMVSTRA">Masked variance pseudo-stratum</label>
				<input id="SDMVSTRA" type="number" name="SDMVSTRA"><br>

				<label for="AUQ054">General condition of hearing</label>
				<input id="AUQ054" type="number" name="AUQ054"><br>

				<label for="CBD091">Money spent on nonfood items</label>
				<input id="CBD091" type="number" name="CBD091"><br>

				<label for="HUQ071">Overnight hospital patient in last year</label>
				<input id="HUQ071" type="number" name="HUQ071"><br>

				<label for="DLQ150">Take medication for depression?</label>
				<input id="DLQ150" type="number" name="DLQ150"><br>

				<label for="HSAQUEX">Source of Health Status Data</label>
				<input id="HSAQUEX" type="number" name="HSAQUEX"><br>

				<label for="HUQ010">General health condition</label>
				<input id="HUQ010" type="number" name="HUQ010"><br>

				<label for="INQ140">Income from interest/dividends or rental</label>
				<input id="INQ140" type="number" name="INQ140"><br>

				<label for="DLQ020">Have serious difficulty seeing?</label>
				<input id="DLQ020" type="number" name="DLQ020"><br>

				<label for="MCQ160L">Ever told you had any liver condition</label>
				<input id="MCQ160L" type="number" name="MCQ160L"><br>

				<label for="FSD032B">HH Food didn't last</label>
				<input id="FSD032B" type="number" name="FSD032B"><br>

				<label for="MIALANG">Language of MEC Interview</label>
				<input id="MIALANG" type="number" name="MIALANG"><br>

				<label for="DLQ140">How often do you feel depressed?</label>
				<input id="DLQ140" type="number" name="DLQ140"><br>

				<label for="RIDRETH1">Race/Hispanic origin</label>
				<input id="RIDRETH1" type="number" name="RIDRETH1"><br>

				<label for="DBD910"># of frozen meals/pizza in past 30 days</label>
				<input id="DBD910" type="number" name="DBD910"><br>

				<input type="submit" value="OK">
			</form>
			<!-- {% if sub_text %}
			{{sub_text}}
			{% endif %} -->
		</div>
	</main>

</body>

</html>