<form action = "" method = "post">
	{% csrf_token %}

	<label for="PFQ090">PFQ090</label>
	<input id="PFQ090" type="number" name="PFQ090">
	(Require special healthcare equipment1: Yes, 2: No)<br>

	<label for="INQ060">INQ060</label>
	<input id="INQ060" type="number" name="INQ060"><br>

	<label for="DBQ197">DBQ197</label>
	<input id="DBQ197" type="number" name="DBQ197"><br>

	<label for="CBD071">CBD071</label>
	<input id="CBD071" type="number" name="CBD071"><br>

	<label for="WHQ225">WHQ225</label>
	<input id="WHQ225" type="number" name="WHQ225"><br>

	<label for="CBQ596">CBQ596</label>
	<input id="CBQ596" type="number" name="CBQ596"><br>

	<label for="MCQ300C">MCQ300C</label>
	<input id="MCQ300C" type="number" name="MCQ300C"><br>

	<label for="MCQ160F">MCQ160F</label>
	<input id="MCQ160F" type="number" name="MCQ160F"><br>

	<label for="INQ150">INQ150</label>
	<input id="INQ150" type="number" name="INQ150"><br>

	<label for="DMDMARTL">DMDMARTL</label>
	<input id="DMDMARTL" type="number" name="DMDMARTL"><br>

	<label for="SDMVSTRA">SDMVSTRA</label>
	<input id="SDMVSTRA" type="number" name="SDMVSTRA"><br>

	<label for="AUQ054">AUQ054</label>
	<input id="AUQ054" type="number" name="AUQ054"><br>

	<label for="CBD091">CBD091</label>
	<input id="CBD091" type="number" name="CBD091"><br>

	<label for="HUQ071">HUQ071</label>
	<input id="HUQ071" type="number" name="HUQ071"><br>

	<label for="DLQ150">DLQ150</label>
	<input id="DLQ150" type="number" name="DLQ150"><br>

	<label for="HSAQUEX">HSAQUEX</label>
	<input id="HSAQUEX" type="number" name="HSAQUEX"><br>

	<label for="HUQ010">HUQ010</label>
	<input id="HUQ010" type="number" name="HUQ010"><br>

	<label for="INQ140">INQ140</label>
	<input id="INQ140" type="number" name="INQ140"><br>

	<label for="DLQ020">DLQ020</label>
	<input id="DLQ020" type="number" name="DLQ020"><br>

	<label for="MCQ160L">MCQ160L</label>
	<input id="MCQ160L" type="number" name="MCQ160L"><br>

	<label for="FSD032B">FSD032B</label>
	<input id="FSD032B" type="number" name="FSD032B"><br>

	<label for="MIALANG">MIALANG</label>
	<input id="MIALANG" type="number" name="MIALANG"><br>

	<label for="DLQ140">DLQ140</label>
	<input id="DLQ140" type="number" name="DLQ140"><br>

	<label for="RIDRETH1">RIDRETH1</label>
	<input id="RIDRETH1" type="number" name="RIDRETH1"><br>

	<label for="DBD910">DBD910</label>
	<input id="DBD910" type="number" name="DBD910"><br>

	<input type="submit" value="OK">
</form>
{% if sub_text %}
{{sub_text}}
{% endif %}
